name: Latest Changes

on:
  pull_request_target:
    types:
      - closed

jobs:
  latest-changes:
    name: Reviewpad action
    runs-on: ubuntu-latest
    steps:
      - name: Runs reviewpad action
        uses: reviewpad/action@v2.x
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

